<% include ./partials/header %>

<div class="container">
  <div class="row">
    <h1 style="text-align: center">Sign Up</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/register" method="post">
          <div class="form-group">
              <label for="firstName">First Name *</label>
              <input class="form-control" type="text" name="firstName" placeholder="First Name (John)">
          </div>
          <div class="form-group">
              <label for="lastName">Last Name *</label>
              <input class="form-control" type="text" name="lastName" placeholder="Last Name (Doe)">
          </div>

          <div class="form-group">
              <label for="username">User Name(For Login) *</label>
              <input class="form-control" type="text" name="username" placeholder="username">
              <small id="usernameHelpBlock" class="form-text text-muted">
                Caution: You can't change your Username after "Submit". 
              </small>
          </div>

          <div class="form-group">
              <label for="password">Password *</label>
              <input class="form-control" type="password" name="password" placeholder="password">
              <small id="passwordHelpBlock" class="form-text text-muted">
                Your password must be 6-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
              </small>
          </div>

          <div class="form-group">
              <label for="avatar">User Image URL *</label>
              <input class="form-control" type="text" name="avatar" placeholder="User Image(avatar) URL">
          </div>

          <div class="form-group">
              <label for="email">Email Address *</label>
              <input class="form-control" type="email" name="email" placeholder="email address">
          </div>


          <div class="form-group">
              <label for="adminCode">AdminCode (Optional)</label>
              <input class="form-control" type="text" name="adminCode" placeholder="Admin Code">
          </div>

          <div class="form-group">
              <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
          </div>

        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
  </div>

</div>

<% include ./partials/footer %>
