<% include ../partials/header %>

<div class="container">

    <h1 style="text-align: center">Create a new Campgrouds</h1>

      <div style="width: 50%; margin: 50px auto;">
        <form action="/campgrounds" method="POST" enctype="multipart/form-data">
          <div class="form-group">
             <label for="name">Name</label>
            <input class="form-control" type="text" name="campground[name]" placeholder="Yosemite" required>
          </div>


           <h6>Specify an Image URL Here ...</h6>

          <div class="form-group">
            <label for="image">Image Url</label>
            <input class="form-control" id="image_url" type="text" name="campground[image_url]"
            pattern="^https:\/\/images\.unsplash\.com\/.*" title="Only images from images.unsplash.com allowed. See link below for instructions."
            placeholder="https://images.unsplash.com/..." >
            <small>Click <a href="https://youtu.be/Bn3weNRQRDE">here</a> for tutorial on how to copy unsplash urls.</small>
          </div>

          <h6>Or Upload your own Image Here ... </h6>

          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="image" name="image" accpet="image/*">
                <label class="custom-file-label" for="image">Choose file</label>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label for="cost">Cost</label>
            <input class="form-control" type="number" name="campground[price]" placeholder="9.99" min="0.01" step="0.01" required>
          </div>


          <div class="form-group">
              <label for="location">Location</label>
              <input class="form-control" type="text" name="campground[location]" id="location" placeholder="Yosemite National Park, CA" required>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" type="text" name="campground[description]" placeholder="California’s Sierra Nevada mountains." required>
          </div>


          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
          </div>
        </form>
        <a href="/campgrounds">Go Back</a>
      </div>

</div>

<% include ../partials/footer %>
