.img-thumbnail img {
  width: 100%;
}

.img-thumbnail {
  padding: 0;
}

.img-thumbnail .caption-full {
  padding: 12px;
}

.delete-form {
  display: inline;
}

.campground-img-cropped {
  width: 250px;
  height: 180px;
  object-fit: cover;
  object-position: center;

}

/* Google Map */
#map {
  height: 400px;
  width: 100%;
}
