.img-thumbnail img {
  width: 100%;
}

.img-thumbnail {
  padding: 0;
}

.img-thumbnail .caption-full {
  padding: 12px;
}

.delete-form {
  display: inline;
}

.campground-item {
  width: 300px;
  height: 180px;
  object-fit: cover;
  object-position: center;

}

.campground-header-slideshow {
  width: auto;
  height: 365px;
  opacity: 0.75;
  object-fit: cover;
  object-position: center;
}


.navbar_fix {
  border-radius: 5px;
}

/* Google Map */
#map {
  height: 400px;
  width: 100%;
}
